* {
  margin: 0;
  padding: 0;
}

.container {
  display: 0 auto;
  margin: 0 auto;
  padding-bottom: 2vh;
  max-width: 90%;
  background: whitesmoke;
}

header {
  color: #eff;
  background: black;
  box-shadow: 4px 2px 8px 1px rgb(124, 127, 131);
  border-radius: 4px;
}

p,
input {
  font-family: "Orbitron", sans-serif;
}

input {
  border: 2px solid black;
  color: rgba(6, 0, 88, 0.877);
  font-size: 16px;
}

.search-box {
  box-shadow: 2px 2px 2px 2px rgb(108, 134, 146);
  display: block;
  margin: 24px auto;
  height: 32px;
  border-radius: 4px;
  width: 60%;
}

.search-box:focus {
  box-shadow: 2px 4px 2px 2px rgba(16, 3, 255, 0.308);
}

.search-box::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Orbitron", sans-serif;
  text-align: center;
}
.search-box::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Orbitron", sans-serif;
  color: pink;
}
.search-box:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Orbitron", sans-serif;
  color: pink;
}
.search-box:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Orbitron", sans-serif;
  color: pink;
}

h1 {
  padding: 32px 0;
  text-align: center;
  cursor: pointer;
}

h3 {
  text-align: center;
}

p {
  color: #335;
  font-family: "Orbitron", sans-serif;
  font-size: 0.8rem;
}

li {
  background: white;
  padding: 16px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 2px rgb(138, 145, 148);
  margin: 16px 20%;
  list-style: none;
}

.user:hover {
  color: #fff;
  cursor: pointer;
}

.collapse-able {
  text-align: center;
  padding-top: 16px;
  display: block;
  margin: 0 auto;
}
